.navbar .navbar-nav .nav-link a{
    color : white;
}
.navbar .navbar-brand img {
    width : 100px;
}

.navbar .navbar-nav {
    margin : auto;
}


.hero {
    height : 570px; 
    text-align : center;
    background-image: url(./img/KAMPUS-II-viktor.jpg);
    background-size : cover;
}

.hero h2 {
    margin-top : 150px;
    color : white; 
    font-size : 42px;
}
.hero p {
    color : white; 
    font-size : 24px;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    
}
label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
input[type="text"], input[type="email"], input[type="number"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #45a049;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: center;
}
th {
    background-color: #4CAF50;
    color: white;
}
td {
    background-color: #f9f9f9;
}
.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover {
    background-color: #45a049;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}

h2 {
    color: #007BFF;
}
p {
    line-height: 1.6;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.contact-info {
    list-style-type: none;
    padding: 0;
}
.contact-info li {
    margin: 5px 0;
}










footer {

    background-color: #333;
    color : black;
    text-align: center;
    padding: 18px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color : #FFC401;
}
footer a {
 text-decoration: none;
 color : black;
}
footer a:hover {
    text-decoration: underline;
}